{{define "user"}}
{{template "header" .}}
<div>
    <h2>{{.User.Name}}</h2>
    <h3>フォロー</h3>
    <div>
        <ul>
            {{range .User.Followings}}<li><a href="/user/{{.ID}}">{{.Name}}</a></li>{{end}}
        </ul>
    </div>
    <h3>フォローワー</h3>
    <div>
        <ul>
            {{range .User.Followers}}<li><a href="/user/{{.ID}}">{{.Name}}</a></li>{{end}}
        </ul>
    </div>
    <h3>記事</h3>
    <div>
        {{range .User.Articles}}
        <div>
            <h2>{{.Title}}</h2>
            <div>{{.User.Name}}</div>
            <p>{{.Content}}</p>
            <div>
                <ul>
                    {{range .Favorites}}<li><a href="/user/{{.User.ID}}">{{.User.Name}}</a></li>{{end}}
                </ul>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}